h1 {
    color: mediumpurple;
    font-style: italic;
    font-family: "KaiTi";
    text-align: center;
}
.gold {
    color: gold;
}
.silver {
    color: #c0c0c0;

}
.bronze {
    color:saddlebrown;
}

#gameLink {
    text-align: center;
    border: 5px solid red;
    font-family: ""
}

#greeting {
    position: absolute;
left: 65%;
top: 40%;
background: #fff;
width: 350px;
height: 150px;
border: 2px solid gray;
border-radius: 5px;
padding: 20px;
}

#gameOver {
    position: absolute;
    left: 16%;
    top: 40%;
    background: #fff;
    width: 350px;
    height: 175px;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 20px;
    display: none;
}

